<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="UI.Joystick.Name" value="Logitech G25 Racing Wheel USB" />
    <add key="UI.Joystick.Button.PaneCycle" value="6"/>
    <add key="UI.Joystick.Button.ResetEngineWear" value="6"/>
  </appSettings>
  <system.windows.forms jitDebugging="false" />
</configuration>